# day_2

In [1]:
s = 'I am heegu'
s

'I am heegu'

In [2]:
s[:]

'I am heegu'

In [3]:
s2=s[:]
s2

'I am heegu'

- 기본자료형에서 슬라이싱을 적용하면 복사가 된다
- 중요한 이슈 : 참조냐 복사냐?

In [5]:
line = 'I am Tom.\n'

In [6]:
line.strip()

'I am Tom.'

In [8]:
line.strip().split() # 결과는 리스트다

['I', 'am', 'Tom.']

In [9]:
line = '한희구;22;원주\n'

In [10]:
line.strip()

'한희구;22;원주'

In [11]:
line.strip().split(';')

['한희구', '22', '원주']

In [12]:
s

'I am heegu'

In [13]:
len(s)

10

In [14]:
s[9]

'u'

In [15]:
s[1:4,6:7]

TypeError: string indices must be integers

In [16]:
s='한희구,22, 원주;175.5 \n'

In [21]:
s.strip().split(',')

['한희구', '22', ' 원주;175.5']

In [22]:
s2 = s.strip()
s2

'한희구,22, 원주;175.5'

In [23]:
s2[8:]

'원주;175.5'

In [25]:
s2[8:].split(';')

['원주', '175.5']

In [26]:
a = [1,2,3.5,'한희구']

In [27]:
a

[1, 2, 3.5, '한희구']

In [28]:
type(a)

list

In [29]:
len(a)

4

In [30]:
a=[1,[2,3],[4,5]]
a

[1, [2, 3], [4, 5]]

In [31]:
type(a)

list

In [32]:
len(a)

3

In [33]:
a = [1,2,3.5,'한희구',True]

In [35]:
a[3][1]

'희'

In [36]:
a[3]='heegu'

In [37]:
a

[1, 2, 3.5, 'heegu', True]

In [38]:
a[4:] =[0,0]

In [39]:
a

[1, 2, 3.5, 'heegu', 0, 0]

In [40]:
a[-2:]=[1,1]

In [41]:
a

[1, 2, 3.5, 'heegu', 1, 1]

In [42]:
l=[1,2.5,'abc',[3,4,5]]
l

[1, 2.5, 'abc', [3, 4, 5]]

In [43]:
l[0]

1

In [44]:
l[-1][2]

5

In [45]:
l[-1][1]

4

In [46]:
l=[1,2,3]

In [47]:
l

[1, 2, 3]

In [48]:
l+4

TypeError: can only concatenate list (not "int") to list

In [49]:
l+[4,5]

[1, 2, 3, 4, 5]

In [50]:
[1]*100

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [51]:
l[3]=3.0

IndexError: list assignment index out of range

In [52]:
[1,2,3]+[[4],5]

[1, 2, 3, [4], 5]

In [53]:
k=[[3,4,2],[2,5,4],[1,2,1]]
k

[[3, 4, 2], [2, 5, 4], [1, 2, 1]]

In [54]:
l

[1, 2, 3]

In [55]:
l[2]=3.0

In [56]:
l

[1, 2, 3.0]