# day_2

In [1]:
s = 'I am heegu'
s

'I am heegu'

In [2]:
s[:]

'I am heegu'

In [3]:
s2=s[:]
s2

'I am heegu'

- 기본자료형에서 슬라이싱을 적용하면 복사가 된다
- 중요한 이슈 : 참조냐 복사냐?

In [5]:
line = 'I am Tom.\n'

In [6]:
line.strip()

'I am Tom.'

In [8]:
line.strip().split() # 결과는 리스트다

['I', 'am', 'Tom.']

In [9]:
line = '한희구;22;원주\n'

In [10]:
line.strip()

'한희구;22;원주'

In [11]:
line.strip().split(';')

['한희구', '22', '원주']

In [12]:
s

'I am heegu'

In [13]:
len(s)

10

In [14]:
s[9]

'u'

In [15]:
s[1:4,6:7]

TypeError: string indices must be integers

In [16]:
s='한희구,22, 원주;175.5 \n'

In [21]:
s.strip().split(',')

['한희구', '22', ' 원주;175.5']

In [22]:
s2 = s.strip()
s2

'한희구,22, 원주;175.5'

In [23]:
s2[8:]

'원주;175.5'

In [25]:
s2[8:].split(';')

['원주', '175.5']

In [26]:
a = [1,2,3.5,'한희구']

In [27]:
a

[1, 2, 3.5, '한희구']

In [28]:
type(a)

list

In [29]:
len(a)

4

In [30]:
a=[1,[2,3],[4,5]]
a

[1, [2, 3], [4, 5]]

In [31]:
type(a)

list

In [32]:
len(a)

3

In [33]:
a = [1,2,3.5,'한희구',True]

In [35]:
a[3][1]

'희'

In [36]:
a[3]='heegu'

In [37]:
a

[1, 2, 3.5, 'heegu', True]

In [38]:
a[4:] =[0,0]

In [39]:
a

[1, 2, 3.5, 'heegu', 0, 0]

In [40]:
a[-2:]=[1,1]

In [41]:
a

[1, 2, 3.5, 'heegu', 1, 1]

In [42]:
l=[1,2.5,'abc',[3,4,5]]
l

[1, 2.5, 'abc', [3, 4, 5]]

In [43]:
l[0]

1

In [44]:
l[-1][2]

5

In [45]:
l[-1][1]

4

In [46]:
l=[1,2,3]

In [47]:
l

[1, 2, 3]

In [48]:
l+4

TypeError: can only concatenate list (not "int") to list

In [49]:
l+[4,5]

[1, 2, 3, 4, 5]

In [50]:
[1]*100

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [51]:
l[3]=3.0

IndexError: list assignment index out of range

In [52]:
[1,2,3]+[[4],5]

[1, 2, 3, [4], 5]

In [53]:
k=[[3,4,2],[2,5,4],[1,2,1]]
k

[[3, 4, 2], [2, 5, 4], [1, 2, 1]]

In [54]:
l

[1, 2, 3]

In [55]:
l[2]=3.0

In [56]:
l

[1, 2, 3.0]

In [57]:
l+[4,5]

[1, 2, 3.0, 4, 5]

In [58]:
l

[1, 2, 3.0]

In [59]:
l=l+[4,5]

In [60]:
l

[1, 2, 3.0, 4, 5]

In [61]:
l.append(100)

In [62]:
l

[1, 2, 3.0, 4, 5, 100]

In [63]:
l=[]

for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
l=[]

for i in range(10):
    l.append(i*2)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [66]:
l=[]

for i in range(10):
    l.append(i*2+1)
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [67]:
l=[3,4,1,6,2]

In [70]:
l.sort()

In [71]:
l

[1, 2, 3, 4, 6]

In [72]:
l=[3,5,2,4,1]

In [73]:
sorted(l)

[1, 2, 3, 4, 5]

In [74]:
l2=l.sort()

In [75]:
l2

In [76]:
l

[1, 2, 3, 4, 5]

In [77]:
l2

In [78]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [79]:
l=[1,2,3,4,5]
l2=[]

for i in l:
    l2.append(i*i)
print(l2)

[1, 4, 9, 16, 25]

In [81]:
l=[[1,2,3],[4,5,6],[7,8,9]]
l2=[]

for i in l:
    l2.append(i[1])
    
print(l2)

[2, 5, 8]

In [88]:
l=[1,2,3,4,5]

for i in l:
    if i%2==1:
        print(i,end=' ')

1 3 5

In [98]:
data=[[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12],
      [13,14,15,16]]
data

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [99]:
l=[]
for i in data:
    l.append(i[1:3])
l

[[2, 3], [6, 7], [10, 11], [14, 15]]

In [101]:
l2=[]
for i in data:
    l2.append(sum(i)/len(i))
l2

[2.5, 6.5, 10.5, 14.5]

In [102]:
l3=[]
for i in data:
    for j in i:
        if j%3!=0:
            l3.append(j)
l3

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16]

In [103]:
1,2,3

(1, 2, 3)

In [104]:
t =tuple()

In [105]:
t

()

In [106]:
data=[[1,2],[3,4],[5,6]]
data

[[1, 2], [3, 4], [5, 6]]

In [107]:
for i in data:
    print(i[0],':',i[1])

1 : 2
3 : 4
5 : 6

In [108]:
for i,j in data:
    print(i,j)

1 2
3 4
5 6

In [109]:
for _,j in data:
    print(j)

2
4
6

In [110]:
s={1,2,3,1,2,2,2,2,2,3,3,3,3,3,1}
s

{1, 2, 3}

In [111]:
type(s)

set

In [112]:
data = [1,2,1,1,1,3,1,2,3,4,1,1,5,6,6,5,5,]
set(data)

{1, 2, 3, 4, 5, 6}

In [113]:
data

[1, 2, 1, 1, 1, 3, 1, 2, 3, 4, 1, 1, 5, 6, 6, 5, 5]