In [1]:
data = [[94, 94, 79, 76, 96],
        [72, 74, 68, 71, 85],
        [95, 90, 76, 82, 91],
        [85, 83, 82, 62, 78],
        [96, 95, 81, 64, 68]]

In [17]:
u80 =[]
b80=[]
for i in data:
    m = sum(i)/len(i)
    if m>=80:
        u80.append(i)
    else:
        b80.append(i)

In [18]:
u80

[[94, 94, 79, 76, 96], [95, 90, 76, 82, 91], [96, 95, 81, 64, 68]]

In [19]:
b80

[[72, 74, 68, 71, 85], [85, 83, 82, 62, 78]]

.copy() 를 안쓰고 하면 가운데만 바뀌는게 아니라 l2 전부가 바뀌어서 copy()를 써야함

In [21]:
l1 = [1,1,1,1,1]
l2 = [1,0,0,0,1]
board = [l1.copy(),l2.copy(),l2.copy(),l2.copy(),l1.copy()]
board

[[1, 1, 1, 1, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 1, 1, 1, 1]]

In [22]:
board[2][2]=2
board

[[1, 1, 1, 1, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 2, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 1, 1, 1, 1]]

In [23]:
국어 = []
for i in data:
    국어.append(i[0])
국어

[94, 72, 95, 85, 96]

In [24]:
sum(국어)/5

88.4

In [25]:
m=[0,0,0,0,0]
for i in data:
    for j in range(5):
        m[j] +=i[j]/5
m

[88.4, 87.2, 77.19999999999999, 71.0, 83.6]

In [26]:
1,2,3

(1, 2, 3)

In [27]:
홍길동=[3,4,1,5,3]

In [29]:
홍길동2={'국어':3,'영어':4,'수학':1,'과학':5,'컴':3}

In [30]:
홍길동

[3, 4, 1, 5, 3]

In [31]:
홍길동2

{'국어': 3, '영어': 4, '수학': 1, '과학': 5, '컴': 3}

In [34]:
과목명 = ['국어','영어','수학','과학','컴'] #코드표

In [35]:
홍길동2

{'국어': 3, '영어': 4, '수학': 1, '과학': 5, '컴': 3}

- Numpy => list
- Pandas => dict

In [36]:
data = {'1행':[1,2,3,4,5],'2행':[3,4,5,6,5]}
data

{'1행': [1, 2, 3, 4, 5], '2행': [3, 4, 5, 6, 5]}

In [37]:
data['1행']

[1, 2, 3, 4, 5]

In [39]:
for i in data:
    print(i)

1행
2행

In [41]:
for i in data:
    print(i,data[i])

1행 [1, 2, 3, 4, 5]
2행 [3, 4, 5, 6, 5]

In [42]:
type(data)

dict

In [43]:
data

{'1행': [1, 2, 3, 4, 5], '2행': [3, 4, 5, 6, 5]}

In [ ]:
data['1행']