In [1]:
data = [[94, 94, 79, 76, 96],
        [72, 74, 68, 71, 85],
        [95, 90, 76, 82, 91],
        [85, 83, 82, 62, 78],
        [96, 95, 81, 64, 68]]

In [17]:
u80 =[]
b80=[]
for i in data:
    m = sum(i)/len(i)
    if m>=80:
        u80.append(i)
    else:
        b80.append(i)

In [18]:
u80

[[94, 94, 79, 76, 96], [95, 90, 76, 82, 91], [96, 95, 81, 64, 68]]

In [19]:
b80

[[72, 74, 68, 71, 85], [85, 83, 82, 62, 78]]

.copy() 를 안쓰고 하면 가운데만 바뀌는게 아니라 l2 전부가 바뀌어서 copy()를 써야함

In [21]:
l1 = [1,1,1,1,1]
l2 = [1,0,0,0,1]
board = [l1.copy(),l2.copy(),l2.copy(),l2.copy(),l1.copy()]
board

[[1, 1, 1, 1, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 1, 1, 1, 1]]

In [22]:
board[2][2]=2
board

[[1, 1, 1, 1, 1],
 [1, 0, 0, 0, 1],
 [1, 0, 2, 0, 1],
 [1, 0, 0, 0, 1],
 [1, 1, 1, 1, 1]]

In [23]:
국어 = []
for i in data:
    국어.append(i[0])
국어

[94, 72, 95, 85, 96]

In [24]:
sum(국어)/5

88.4

In [25]:
m=[0,0,0,0,0]
for i in data:
    for j in range(5):
        m[j] +=i[j]/5
m

[88.4, 87.2, 77.19999999999999, 71.0, 83.6]

In [26]:
1,2,3

(1, 2, 3)

In [27]:
홍길동=[3,4,1,5,3]

In [29]:
홍길동2={'국어':3,'영어':4,'수학':1,'과학':5,'컴':3}

In [30]:
홍길동

[3, 4, 1, 5, 3]

In [31]:
홍길동2

{'국어': 3, '영어': 4, '수학': 1, '과학': 5, '컴': 3}

In [34]:
과목명 = ['국어','영어','수학','과학','컴'] #코드표

In [35]:
홍길동2

{'국어': 3, '영어': 4, '수학': 1, '과학': 5, '컴': 3}

- Numpy => list
- Pandas => dict

In [36]:
data = {'1행':[1,2,3,4,5],'2행':[3,4,5,6,5]}
data

{'1행': [1, 2, 3, 4, 5], '2행': [3, 4, 5, 6, 5]}

In [37]:
data['1행']

[1, 2, 3, 4, 5]

In [39]:
for i in data:
    print(i)

1행
2행

In [41]:
for i in data:
    print(i,data[i])

1행 [1, 2, 3, 4, 5]
2행 [3, 4, 5, 6, 5]

In [42]:
type(data)

dict

In [43]:
data

{'1행': [1, 2, 3, 4, 5], '2행': [3, 4, 5, 6, 5]}

In [44]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
set(list(range(10)))-set([0,1,2,3,4,5,7,8,9])

{6}

In [46]:
n = 3
l = [0,1,2]

if n not in l:
    print('n is not in l')

n is not in l

In [51]:
n = 3
if n>3 or n<3:
    #print('ok')
    pass
else:
    print('no')

no

In [55]:
n=3
a =1 if n>0 else 0 #아래코드를 줄여줌
a

1

In [53]:
a = None
n = 3
if n>0:
    a=1
else:
    a=0
a

1

In [58]:
n=-10
a =1 if n>0 else (-1 if n<0 else 0)
a

-1

In [60]:
for i in range(1,10):
    for j in range(1,10):
        print(i,'*',j,'=',i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# 연습문제
- 구구단의 결과를 표 형태 리스트로 만들기

In [65]:
l = []
for i in range(1,10):
    l2=[]
    for j in range(1,10):
        l2.append(i*j)
    l.append(l2)
l

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [68]:
# list comprehension
l=[[i*j for j in range(1,10)]for i in range(1,10)]
l

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]